@import "../../../styles/constants";

.card {
  position: relative;
  cursor: pointer;
  width: 192px;

  @media screen and (max-width: 424px) {
    width: 154px;
  }

  @media screen and (max-width: 336px) {
    width: 145px;
  }

  & .card-image {
    margin-bottom: 10px;
    width: 100%;
    height: 242px;
    border-radius: 20px;
    background: $plugColor;
    overflow: hidden;

    @media screen and (max-width: 424px) {
      height: 160px;
    }

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  &__price {
    height: 20px;
    margin-left: 11px;
    display: flex;
    align-items: center;
    gap: 10px;

    & > .price {
      font-weight: 800;
      font-size: $littleMediumSize;

      @media screen and (max-width: 424px) {
        font-size: $littleSize;
      }
    }

    & > .discount {
      text-decoration-line: line-through;
      color: $text4Color;
      font-size: $mediumLittleSize;
    }

    @media screen and (max-width: 424px) {
      font-size: $veryLittleSize;
    }
  }

  & > .card-name {
    height: 50px;
    margin-left: 11px;
    margin-bottom: 13px;
    font-size: $bigMediumSize;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (max-width: 424px) {
      font-size: $mediumMediumSize;
    }
  }

  &__button {
    @media screen and (max-width: 424px) {
      display: none;
    }
  }

  &__favorites {
    position: absolute;
    top: 12px;
    right: 7px;
    transition: transform 0.3s;
  }

  &__favorites:hover {
    animation: shake 0.6s ease-in-out 3;
  }

  @keyframes shake {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(7deg);
    }
    100% {
      transform: rotate(0);
    }
  }
}
