@import "src/styles/constants";
@import "src/styles/mixins";

.modalLogin {

  &__email {
    position: relative;
  }

  &__email .warningLogin {
    top: -15px;
    left: 5px;
  }

  &__row {
    display: flex;
    gap: 15px;
  }

  &__checkBox {
    min-height: 24px;
    min-width: 24px;
  }

  &__conditions {
    font-size: $veryLittleSize;
    line-height: 13px;
    color: $text4Color;
  }

  &__link {
    color: $linkColor;
    text-decoration: underline;
  }

  &__rules {
    position: relative;
  }

  &__rules .warningLogin {
    top: -17px;
    left: 46px;
  }
}