.wrapper-card {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 41px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 15px;

  @media screen and (max-width: 1095px) {
    width: calc(192px + 192px + 192px + 192px + 20px + 20px + 20px);
  }

  @media screen and (max-width: 872px) {
    width: calc(192px + 192px + 192px + 20px + 20px);
  }

    @media screen and (max-width: 781px) {
      width: calc(192px + 192px + 20px);
    }

    @media screen and (max-width: 425px) {
      width: calc(154px + 154px + 20px);
    }

  @media screen and (max-width: 346px) {
    column-gap: 12px;
  }

}

.wrapper {

  &__container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;


  }

  & > .button__add-card {
    max-width: 196px;
    margin: 0 auto 25px;
  }
}
