@import "../../../styles/constants";

.goods {
  margin-top: -70px;
  width: 100%;

  &__selects {
    display: flex;
    gap: 36px;
  }

  &__button {
    margin-left: auto;
    width: 157px;
    margin-bottom: 0;
  }
}