@import "./src/styles/constants";
@import "./src/styles/mixins";

.header-burger {
  margin-right: 22px;
}

.menu {
  position: absolute;
  overflow: scroll;
  top: 99px;
  @include flex();
  height: 100vh;
  width: 100vw;
  left: -103vw;
  padding-top: 32px;
  color: $menuColor;
  background-color: $backgroundColor;
  transition: $slowTransition;
  z-index: 999;

  &.active {
    left: -2.5vw;
  }
}

.main-categories {
  height: 100%;
  width: 305px;
  margin-left: 40px;
  padding-right: 10px;

  &__item {
    margin-bottom: 4px;
    padding: 10px 15px;
    height: 44px;
    @include flex(flex-start, center);
    cursor: pointer;
    color: $text2Color;
    border-radius: 15px;
    transition: $fastTransition;

    & .icon {
      margin-right: 8px;
    }

    & .arrow {
      margin-left: auto;
    }


    &.active, &:hover {
      color: $additionalColor;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);
    }
  }
}

.subcategories {
  margin-left: 97px;
  margin-bottom: 20px;
  @include flex();
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 23px;

  & .subcategory-wrapper {
    //padding: 0 10px 0 15px;
    @include flex();
    cursor: pointer;
    color: $title3Color;

    &.active {
      color: $text2Color;
    }
  }

  & .subcategory {
    width: 305px;
    font-weight: 400;
    font-size: $bigMediumSize;
  }
}

.sections {
  margin-left: 80px;
  @include flex();
  gap: 22px;
  flex-direction: column;


  //
  //& a {
  //  font-size: $littleMediumSize;
  //}

  &__parent-name {
    font-size: $subTitleSize;
    color: $additionalColor;
  }

  &__item {

  }
}
