@import "./src/styles/constants";
@import "./src/styles/mixins";

.hamburger-container {
  margin-right: 22px;
  @include square(48px);
  @include flex(center, center);
  border: 2px solid $plugColor;
  border-radius: 15px;
  cursor: pointer;
}

.hamburger {
  @include flex(center, center, 8px);
  flex-direction: column;
  transition: $fastTransition;


  &__item {
    width: 30px;
    height: 2.5px;
    background: $plugColor;
    border-radius: 2px;

    &.line-1 {
      transform-origin: 0 0;
      transition: transform 0.4s ease-in-out;
    }

    &.line-2 {
      transition: transform 0.2s ease-in-out;
    }

    &.line-3 {
      transform-origin: 0 100%;
      transition: transform 0.4s ease-in-out;
    }
  }

  &.active {
    transform: translateX(5px);
    & .line-1 {
      transform: rotate(45deg);
    }

    & .line-2 {
      transform: scaleY(0);
    }

    & .line-3 {
      transform: rotate(-45deg);
    }
  }
}

.menu {
  position: fixed;
  @include flex();
  height: 100vh;
  width: 100vw;
  top: 162px;
  left: -100vw;
  color: $menuColor;
  transition: $slowTransition;

  &.active {
    left: 0;
  }
}

.main-categories {
  height: 100%;
  width: 305px;
  margin-left: 80px;
  padding-right: 10px;
  border-right: $borderMenu;

  &__item {
    padding: 10px;
    height: 44px;
    @include flex(flex-start, center);
    cursor: pointer;
    transition: $fastTransition;

    & .icon {
      margin-right: 10px;
    }

    & .arrow {
      margin-left: auto;
    }


    &.active, &:hover {
      background: $background2Color;
    }
  }
}

.subcategories {
  margin-left: 20px;
  @include flex();
  flex-wrap: wrap;
  column-gap: 85px;
  row-gap: 60px;

  & .subcategory {
    margin: 10px 0 17px;
    font-weight: 800;
    font-size: $subTitleSize;
  }
}

.sections {
  @include flex();
  gap: 9px;
  flex-direction: column;

  & a {
    font-size: $littleMediumSize;
  }
}