.input-password {
  position: relative;

  & .img {
    position: absolute;
    right: 7px;
    top: 35px;
    cursor: pointer;
    height: 17px;
    display: flex;
    align-items: center;
  }

  & .label {
    font-size: 11.8px;
    margin-left: 8px;
  }
}