@import "../../../styles/constants";
@import "../../../styles/mixins";

.hamburger-container {
  @include square(48px);
  @include flex(center, center);
  border: 2px solid $plugColor;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;

  &.little {
    @include square(36px);
    border: 1.5px solid $additionalColor
  }
}

.hamburger {
  @include flex(center, center, 8px);
  flex-direction: column;
  transition: $fastTransition;

  &.little {
    gap: 4px;
  }

  &__item {
    width: 30px;
    height: 2.5px;
    background: $plugColor;
    border-radius: 2px;

    &.little {
      width: 16px;
      height: 1.5px;
      background: $additionalColor;
    }

    &.line-1 {
      transform-origin: 0 0;
      transition: transform 0.4s ease-in-out;
    }

    &.line-2 {
      transition: transform 0.2s ease-in-out;
    }

    &.line-3 {
      transform-origin: 0 100%;
      transition: transform 0.4s ease-in-out;
    }
  }

  &.active {
    transform: translateX(5px);

    &.active.little {
      transform: translateX(3px);
    }

    & .line-1 {
      transform: rotate(45deg);
    }

    & .line-2 {
      transform: scaleY(0);
    }

    & .line-3 {
      transform: rotate(-45deg);
    }
  }
}