// colors
$headerColor: rgba(255, 255, 255, 0.6);
$buttonColor: rgba(196, 196, 196, 0.3);
$titleColor: #000000;
$title2Color: #28232C;
$menuColor: #222222;
$text2Color: #3A373D;
$text3CColor: #C4C4C4;
$plugColor: #D9D9D9;
$additionalColor: #643ABE;
$backgroundColor: #FFFFFF;
$background2Color: #E7E8EF;
$background3Color: #F9F9FB;
$hoverColor: #875CE0;

// size
$littleSize: 13px;
$littleMediumSize: 15px;
$bigMediumSize: 18px;
$subTitleSize: 19px;
$heightWidget: 40px;

// font-style
$fontTitle: 'Nunito Sans', sans-serif;

//border
$borderModal: 4px solid $additionalColor;
$borderMenu: 1px solid $menuColor;
$borderInput: 1.5px solid $additionalColor;
$borderError: 1.5px solid #F33535;

//transition
$fastTransition: all .2s linear;
$slowTransition: all .6s ease-in-out;

%subtitle {
  font-family: $fontTitle;
  font-weight: 800;
  font-size: $subTitleSize;
  line-height: 27px;
  color: $title2Color;
}


%modal {
  background: $backgroundColor;
  border: $borderModal;
  z-index: 999;
}