// colors
$headerColor: rgba(255, 255, 255, 0.6);
$closeColor: rgba(255, 255, 255, 0.75);
$buttonColor: rgba(196, 196, 196, 0.3);
$titleColor: #000000;
$title2Color: #28232C;
$title3Color: #979798;
$menuColor: #222222;
$text2Color: #3A373D;
$text3CColor: #C4C4C4;
$text4Color: #6F6E71;
$text5Color: #BAB5B5;
$plugColor: #D9D9D9;
$additionalColor: #643ABE;
$backgroundColor: #FFFFFF;
$background2Color: #E7E8EF;
$background3Color: #F9F9FB;
$background4Color: #E2E2E2;
$hoverColor: #875CE0;
$linkColor: #8554EA;
$errorColor: #EB5757;
$error2Color: #F86F6F;
$successColor: #27AE60;

$backgroundGradient: linear-gradient(180deg, #643ABE 0%, #AE52DA 100%);

// size
$veryLittleSize: 9.44px;
$mediumLittleSize: 11.8px;
$littleSize: 13px;
$littleMediumSize: 14.8px;
$mediumMediumSize: 15.73px;
$bigMediumSize: 18px;
$subTitleSize: 19.6px;
$bigTitleSize: 38.4px;
$heightWidget: 40px;

// font-style
$fontTitle: 'Nunito Sans', sans-serif;

//border
$borderModal: 4px solid $additionalColor;
$borderMenu: 1px solid $menuColor;
$borderInput: 1.5px solid $additionalColor;
$borderError: 1.5px solid #F33535;

//transition
$fastTransition: all .2s linear;
$slowTransition: all .6s ease-in-out;

%subtitle {
  font-family: $fontTitle;
  font-weight: 800;
  font-size: $subTitleSize;
  line-height: 27px;
  color: $title2Color;
}

%modal {
  background: $backgroundColor;
  border: $borderModal;
  z-index: 999;
}

%add-letter {
  font-size: $mediumLittleSize;
  color: $text4Color;
}

%card-image {
  overflow: hidden;


  & > img {
    width: 100%;
    height: 100%;
  }
}