@mixin flex($justify-content: flex-start, $align-items: flex-start, $gap: auto) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

@mixin square($length) {
  width: $length;
  height: $length;
}

@mixin modal($top, $left) {
  position: fixed;
  top: calc(50% - $top);
  left: calc(50% - $left);
}