@import "../../../styles/constants";

.reg-main {
  position: relative;
  top: -37px;
  padding-top: 38px;
  background: $backgroundColor;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    max-height: 584px;
  }

  & > form {
    max-width: 410px;
  }

  &__back {
    margin-bottom: 23px;
  }

}

