.image-good {
  label {
    display: flex;
    width: 88px;
    height: 120px;
    border: 1px dashed #6F6E71;
    border-radius: 8px;
    cursor: pointer;
  }

  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}