@import "../../../../styles/constants";
@import "../../../../styles/mixins";

.add-photos {
  padding-left: 20px;

  &__title {
    font-weight: 400;
    font-size: $bigMediumSize;
    margin-bottom: 8px;
  }

  & .annotation {
    @extend %add-letter;
    margin-bottom: 16px;
  }
}

.image-good {
  label {
    @include flex(center, center, 10.5px);
    flex-direction: column;
    width: 88px;
    height: 120px;
    border: 1px dashed #6F6E71;
    border-radius: 8px;
    cursor: pointer;

    & img {
      @include square(12px);
    }

    & span {
      @extend %add-letter;
      width: 56px;
      text-align: center;
    }
  }

  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}

.loadPhoto {
  position: relative;
  width: 88px;
  height: 120px;
  border-radius: 8px;
  overflow: hidden;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__close {
    position: absolute;
    top: 2px;
    right: 2px;
    @include square(25px);
    border-radius: 50%;
    background: $closeColor;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.additional-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;


}
