@import "src/styles/constants";
@import "src/styles/mixins";

.userAuthModal {
  position: fixed;
  top: calc(50%  - 100px);
  left: calc(50% - 160px);
  width: 339px;
  height: 293px;
  padding: 23px 33px;
  border-radius: 22px;
  color: $text4Color;
  @extend %modal;

  & .button {
    width: 100%;
    height: $heightWidget;
    border-radius: 17px;
    cursor: pointer;
    font-weight: 700;
    font-size: $littleSize;
    transition: $slowTransition;

  }

  & .button_dark {
    margin-bottom: 7px;
    background-color: $additionalColor;
    color: $backgroundColor;
    border: none;

    &:hover {
      background-color: $hoverColor;
    }
  }

  & .button_light {
    margin-bottom: 13px;
    color: $additionalColor;
    background-color: $backgroundColor;
    border: $borderInput;

    &:hover {
      color: $hoverColor;
      border-color: $hoverColor;
    }
  }
}

.modalInput {
  margin-bottom: 17px;
  padding: 0 13px;
  width: 100%;
  height: $heightWidget;
  border: none;
  border-radius: 15px;
  background-color: $background2Color;
  font-size: $bigMediumSize;
  transition: $fastTransition;

  &::placeholder {
    font-size: $bigMediumSize;
    color: $text3CColor;
  }

  &:hover {
    background-color: $background3Color;
  }

  &:focus {
    border: $borderInput;
  }

  &.error {
    border: $borderError;
  }
}