@import "src/styles/constants";
@import "src/styles/mixins";

.userAuthModal {
  position: fixed;
  top: calc(50%  - 100px);
  left: calc(50% - 160px);
  width: 339px;
  height: 293px;
  padding: 23px 33px;
  border-radius: 22px;
  color: $text4Color;
  @extend %modal;

  &__title {
    @extend %subtitle;
    text-align: center;
    margin-bottom: 20px;
  }

  &__form {
    position: relative;

    & .img {
      position: absolute;
      right: 7px;
      top: 32px;
      cursor: pointer;
    }
  }

  &__label {
    font-size: 11.8px;
    margin-left: 8px;
  }

}

