@import "src/styles/constants";

.modalLogin {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 339px;
  padding: 23px 33px;
  border-radius: 22px;
  @extend %modal;

  &__title {
    @extend %subtitle
  }
  &__email {
    margin-bottom: 17px;
    padding: 0 13px;
    width: 100%;
    height: $heightWidget;
    border: none;
    border-radius: 15px;
    background-color: $background2Color;
    transition: $fastTransition;

    &::placeholder {
      font-size: $bigMediumSize;
      color: $text3CColor;
    }

    &:hover {
      background-color: $background3Color;
    }

    &:focus {
      border: $borderInput;
    }

    &.error {
      border: $borderError;
    }
  }

  & .button {
    width: 100%;
    height: $heightWidget;
    border-radius: 17px;
    cursor: pointer;
    font-weight: 700;
    font-size: $littleSize;
    transition: $slowTransition;
  }

  &__enter {
    margin-bottom: 7px;
    background-color: $additionalColor;
    color: $backgroundColor;
    border: none;

    &:hover {
      background-color: $hoverColor;
    }
  }

  &__registry {
    color: $additionalColor;
    background-color: $backgroundColor;
    border: $borderInput;

    &:hover {
      color: $hoverColor;
      border-color: $hoverColor;
    }
  }
}