@import "../../../styles/constants";

.header {
  position: sticky;
  top: 0;
  padding: 18px 0 8px;
  color: $headerColor;
  background: $backgroundGradient;
  z-index: 999;

  &__row-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: $littleMediumSize;
  }

  &__links {
    display: flex;
    gap: 32px;
  }

  &__row-2 {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
  }

  &__row-3 {
    display: flex;
    gap: 21px;
  }
}

.logo {
  margin-right: 20px;
  width: 235px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 15px;
}

.link-icon {
  margin-left: 40px;
  cursor: pointer;
}