@import "../../../styles/constants";
@import "../../../styles/mixins";

.header {
  padding: 18px 0 8px;
  color: $headerColor;
  background: $backgroundGradient;
  z-index: 999;

  &__row-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: $littleMediumSize;

    @media screen and (max-width: 435px) {
      display: none;
    }
  }

  &__links {
    display: flex;
    gap: 32px;
  }

  &__row-2 {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    position: relative;
  }

  &__row-3 {
    display: flex;
    gap: 21px;

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
}

.logo {
  margin-right: 20px;
  width: 235px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 15px;

  @media screen and (max-width: 1000px) {
    width: 170px;
  }

  @media screen and (max-width: 800px) {
    width: 140px;
  }

  @media screen and (max-width: 650px) {
    width: 106px;
    height: 27px;
  }
}

.link-icon {
  width: 30px;
  height: 35.6px;
  position: relative;
  margin-left: 34px;
  cursor: pointer;

  @media screen and (max-width: 650px) {
    display: none;
  }

  &_favorite {
    @media screen and (max-width: 690px) {
      margin-left: auto;
    }
  }
}



