@import "../../../styles/constants";

.log  {
  max-width: 411px;

  &__title {
    font-size: $bigTitleSize;
    line-height: 114.9%;
    margin-bottom: 52px;
    max-width: 414px;
  }

  &__field {
    margin-bottom: 20px;
  }

  & .label-pas {
    margin-top: 8px;
    cursor: pointer;
    color: $linkColor;
  }
}
