@import "../../../styles/constants";

.create {
  width: 100%;
  color: $text2Color;

  &__title {
    font-weight: 800;
    font-size: $subTitleSize;
    margin-bottom: 24px;
  }

  &__divider {
    margin-left: 0;
    margin-top: 32px;
    margin-bottom: 32px;
    max-width: 847px;
    color: $text3CColor;
  }

  &__buttons {
    margin-top: 56px;
    display: flex;
    gap: 20px;
  }

  &__save {
    width: 115px;
  }

  &__add-good {
    width: 275px;
  }
}

.subtitle {
  margin-bottom: 16px;
  font-size: $bigMediumSize;
  font-weight: 400;

  &_add {
    margin-bottom: 4px;
  }
}

.add-description {
  font-size: $littleMediumSize;
  color: $text4Color;
}
