@import "../../../styles/constants";

.create {
  margin-top: -70px;
  width: 100%;

  &__title {
    font-weight: 800;
    font-size: $subTitleSize;
    margin-bottom: 24px;
  }

  &__divider {
    margin-left: 0;
    margin-top: 32px;
    max-width: 847px;
    color: $text3CColor;
  }
}
