@import "../../../styles/constants";
@import "../../../styles/mixins";

.mobile-menu {
  position: fixed;
  height: calc(100vh - 56px);
  left: -100vw;
  width: 100vw;
  top: 0;
  padding: 20px;
  background-color: $backgroundColor;
  z-index: 998;
  transition: $slowTransition;
  overflow: scroll;

  &.active {
    left: 0;
  }

  &__search {
    margin-bottom: 24px;
  }

  & .arrow-right {
    margin-left: auto;
  }

  &__title {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__link {
    font-weight: 800;
    font-size: $subTitleSize;
  }

  &__subcategory {
    @include flex(space-beetwen, center);
    height: 40px;
  }

  &__link_sub {
    font-size: $bigMediumSize;
  }
}
