@import "./src/styles/constants";

.header {
  padding: 18px 0 8px;
  color: $headerColor;
  background: linear-gradient(180deg, #643ABE 0%, #AE52DA 100%);

  &__row-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: $littleMediumSize;
  }

  &__row-2 {
    display: flex;
  }
}

.logo {
  width: 235px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 15px;
}