@import "src/styles/constants";
@import "src/styles/mixins";

.category {
  margin-top: 20px;

  &__header {
    margin-bottom: 25px;
    @include flex(space-between, center);
  }

  &__categories {
    color: $text4Color;
    font-size: $mediumLittleSize;
  }

  &__main {
    display: flex;
    justify-content: space-between;
  }

  &__aside {
    padding: 30px;
    width: 40%;

    & h3 {
      margin-bottom: 50px;
    }
  }

  &__button {
    max-width: 181px;
  }

  &__container {
    max-width: 828px;
  }

}
