@import "./src/styles/constants";

.geolocation {
  justify-self: flex-start;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;

  &__select {
    position: fixed;
    top: calc(50% - 146.5px);
    left: calc(50% - 200px);
    padding: 33px 72px;
    border-radius: 15px;
    border: $borderModal;
    background: $backgroundColor;
    z-index: 20;
  }

  &__title {
    margin-bottom: 20px;
    color: $titleColor;
    font-family: $fontTitle;
    font-size: $subTitleSize;
  }

  &__select-item {
    padding: 6px 0 9px 11px;
    color: $text2Color;
    border-bottom: 1px solid #898989;
    transition: $fastTransition;

    &:hover {
      background: $plugColor;
    }

    &.active {
      color: $additionalColor;
      border-color: $additionalColor;
    }
  }
}