@import "src/styles/constants";
@import "src/styles/mixins";

.good {
  margin-top: 28px;

  @media screen and (max-width: 520px) {
    position: relative;
    margin-top: 0;
  }

  &__categories {
    margin-bottom: 43px;
    color: $text4Color;
    font-size: $mediumLittleSize;

    @media screen and (max-width: 550px) {
      display: none;
    }
  }
}

.good-wrapper {
  @include flex(space-between, center, 64px);
  margin-bottom: 176px;
  height: 100%;

  @media screen and (max-width: 1080px){
    gap: 20px
  }

  @media screen and (max-width: 880px){
    flex-direction: column;
    margin-bottom: 100px;
  }

  @media screen and (max-width: 500px){
    margin-bottom: 50px;
  }

  @media screen and (max-width: 375px){
    margin-bottom: 20px;
  }

  & .good-photos {
    display: flex;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 1080px){
      gap: 10px
    }
    @media screen and (max-width: 520px){
      width: 100%;
      justify-content: space-between;
    }

    @media screen and (max-width: 450px) {
      align-items: flex-start;
    }

    &__aside {
      overflow: hidden;


      @media screen and (max-width: 450px) {
        height: 369px;
      }

      @media screen and (max-width: 400px) {
        height: 313px;
      }

      @media screen and (max-width: 375px) {
        height: 302px;
      }

      @media screen and (max-width: 375px) {
        height: 302px;
      }

      @media screen and (max-width: 360px) {
        height: 279px;
      }

      @media screen and (max-width: 335px) {
        height: 255px;
      }
    }

    &__back {
      margin: 5px;
      background-color: #F5F5F5;
      @include square(28px);
      @include flex(center, center);
      border-radius: 8px;

      @media screen and (min-width: 550px) {
        display: none;
      }
    }

  }

  & .good-additional-photos {
    @include flex();
    gap: 20px;
    flex-direction: column;

    @media screen and (max-width: 550px) {
      gap: 10px;
    }

    @media screen and (max-width: 450px) {
      width: 110px;
    }

    @media screen and (max-width: 420px) {
      width: 100px;
    }

    @media screen and (max-width: 410px) {
      width: 90px;
    }

    @media screen and (max-width: 340px) {
      width: 80px;
    }

    &__slider {
      max-height: 500px;


    }

    &__slider-item {
      height: 150px !important;

      @media screen and (max-width: 900px){
        height: 113px !important;
      }

      @media screen and (max-width: 880px){
        height: 150px !important;
      }

      @media screen and (max-width: 700px) {
        height: 113px !important;
      }
    }

    &__item {
      height: 150px;
      width: 100px;
      overflow: hidden;
      border-radius: 5px;
      cursor: pointer;
      background-color:  #BAB5B5;

      @media screen and (max-width: 900px){
        width: 91px;
        height: 113px;
      }

      @media screen and (max-width: 880px){
        height: 150px;
        width: 100px;
      }

      @media screen and (max-width: 700px){
        width: 91px;
        height: 113px;
      }

      & > img {
        @extend %card-image;
      }
    }
  }

  & .main-photo {
    width: 560px;
    height: 637px;

    position: relative;
    overflow: hidden;
    background-color:  #BAB5B5;

    @media screen and (max-width: 1000px) {
        width: 510px;
        height: 582px;
    }

    @media screen and (max-width: 950px) {
        width: 460px;
        height: 525px;
    }

    @media screen and (max-width: 880px) {
      width: 600px;
      height: 682px;
    }

    @media screen and (max-width: 750px) {
      width: 500px;
      height: 568px;
    }

    @media screen and (max-width: 650px) {
      width: 400px;
      height: 455px;
    }

    @media screen and (max-width: 500px) {
      width: 350px;
      height: 398px;
    }

    @media screen and (max-width: 450px) {
      width: 325px;
      height: 369px;
    }

    @media screen and (max-width: 400px) {
      width: 275px;
      height: 313px;
    }

    @media screen and (max-width: 375px) {
      width: 260px;
      height: 302px;
    }

    @media screen and (max-width: 375px) {
      width: 260px;
      height: 302px;
    }

    @media screen and (max-width: 360px) {
      width: 240px;
      height: 279px;
    }

    @media screen and (max-width: 335px) {
      width: 220px;
      height: 255px;
    }

    & > img {
      @extend %card-image;
    }
  }

  & .good-information {
    height: 637px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: flex-end;

    @media screen and (max-width: 1000px) {
      height: 582px;
    }

    @media screen and (max-width: 950px) {
      height: 525px;
    }

    @media screen and (max-width: 880px){
      height: auto;
      align-self: center;
    }

    @media screen and (max-width: 520px) {
      margin: 0 20px 20px;
    }

    &__title {
      position: absolute;
      top: 0;

      @media screen and (max-width: 880px){
        margin-bottom: 8px;
        position: static;
      }
    }

    &__subtitle {
      margin-left: 4px;
      margin-bottom: 12px;
      font-size: $littleMediumSize;
      color: $text2Color;
    }

    &__sizes {
      margin-bottom: 20px;


    }

    & .sizes {
      margin-bottom: 8px;
      display: flex;
      gap: 15px;
      flex-wrap: wrap;


    }

    & .size-item {
      @include flex(center, center);
      min-width: 48px;
      height: 60px;
      padding: 17px 13px;
      border: 1px solid $title3Color;
      border-radius: 10px;
      font-size: $bigMediumSize;
      color: $text2Color;
      cursor: pointer;

      @media screen and (max-width: 880px){
        min-width: 40px;
        height: 52px;
      }
    }

    & .size-item.active {
      border: 1px solid $linkColor;
    }


    &__count {
      margin-bottom: 12px;
      font-size: $littleMediumSize;
    }

    &__update-count {
      margin-bottom: 28px;
      display: flex;
      align-items: center;
      gap: 10px;

      & > .good-information__update-button {
        @include flex(space-between, center);
        padding: 0 11px;
        width: 115px;
        height: 40px;
        border: 1.5px solid $title3Color;
        border-radius: 15px;

        & > .count {
          min-width: 20px;
        }

        & > .update {
          cursor: pointer;
          user-select: none;
        }

        & .update_minus {
          position: relative;
          bottom: 5px;
        }

        & .update_plus {
          position: relative;
          top: 3px;
          right: 2px;
        }
      }

      & > .good-information__quantity {
        color: $text4Color;
        font-size: $littleSize;
      }
    }

    &__prices {
      margin-bottom: 22px;
      display: flex;
      align-items: center;
      gap: 9px;

      & > .good-information__priceBeforeDiscount {
        font-weight: 800;
        font-size: $subTitleSize;
      }

      & > .good-information__price {
        color: $text4Color;
        font-size: $littleSize;
        text-decoration: line-through;
      }
    }

    &__buttons {
      display: flex;
      gap: 12px;
      flex-wrap: wrap;


      & > .button {
        width: 255px;

        @media screen and (max-width: 550px){
          width: 100%;
        }
      }
    }
  }
}
