@import "src/styles/constants";
@import "src/styles/mixins";

.good {
  margin-top: 28px;

  &__categories {
    margin-bottom: 43px;
    color: $text4Color;
    font-size: $mediumLittleSize;
  }
}

.good-wrapper {
  @include flex(space-between, center, 5px);
  margin-bottom: 176px;
  height: 100%;

  & .good-additional-photos {
    @include flex();
    gap: 20px;
    flex-direction: column;

    &__slider {
      max-height: 500px;
    }

    &__slider-item {
      height: 150px;
    }

    &__item {
      height: 150px;
      width: 100px;
      overflow: hidden;
      border-radius: 5px;
      cursor: pointer;
      background-color:  #BAB5B5;

      & > img {
        @extend %card-image;
      }
    }
  }

  & .main-photo {
    width: 560px;
    height: 637px;
    max-height: 637px;
    max-width: 560px;
    position: relative;
    overflow: hidden;
    background-color:  #BAB5B5;

    & > img {
      @extend %card-image;
    }
  }

  & .good-information {
    height: 637px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: flex-end;

    &__title {
      position: absolute;
      top: 0;
    }

    &__subtitle {
      margin-left: 4px;
      margin-bottom: 12px;
      font-size: $littleMediumSize;
      color: $text2Color;
    }

    &__sizes {
      margin-bottom: 20px;
    }

    & .sizes {
      margin-bottom: 8px;
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
    }

    & .size-item {
      @include flex(center, center);
      min-width: 48px;
      height: 60px;
      padding: 17px 13px;
      border: 1px solid $title3Color;
      border-radius: 10px;
      font-size: $bigMediumSize;
      color: $text2Color;
      cursor: pointer;
    }

    & .size-item.active {
      border: 1px solid $linkColor;
    }


    &__count {
      margin-bottom: 12px;
      font-size: $littleMediumSize;
    }

    &__update-count {
      margin-bottom: 28px;
      display: flex;
      align-items: center;
      gap: 10px;

      & > .good-information__update-button {
        @include flex(space-between, center);
        padding: 0 11px;
        width: 115px;
        height: 40px;
        border: 1.5px solid $title3Color;
        border-radius: 15px;

        & > .count {
          min-width: 20px;
        }

        & > .update {
          cursor: pointer;
          user-select: none;
        }

        & .update_minus {
          position: relative;
          bottom: 5px;
        }

        & .update_plus {
          position: relative;
          top: 3px;
          right: 2px;
        }
      }

      & > .good-information__quantity {
        color: $text4Color;
        font-size: $littleSize;
      }
    }

    &__prices {
      margin-bottom: 22px;
      display: flex;
      align-items: center;
      gap: 9px;

      & > .good-information__priceBeforeDiscount {
        font-weight: 800;
        font-size: $subTitleSize;
      }

      & > .good-information__price {
        color: $text4Color;
        font-size: $littleSize;
        text-decoration: line-through;
      }
    }

    &__buttons {
      display: flex;
      gap: 12px;

      & > .button {
        width: 255px;
      }
    }
  }
}
