@import "src/styles/constants";

.creatModal {
  &__title {
    position: relative;
    width: 112%;
    right: 12px;
    margin-bottom: 10px;
  }



  &__password {
    margin-bottom: 5px;
  }

  &__repeat-password {
    margin-bottom: 30px;
  }

  &__warningLogin {
    bottom: 15px;
  }
}