@import "./src/styles/constants";

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: $bigMediumSize;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

p, h4, h3, h2 {
  margin: 0;
}
