@import "./src/styles/constants";

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: $bigMediumSize;
}

a {
  color: inherit;
  text-decoration: none;
}

p, h3 {
  margin: 0;
}