@import "./src/styles/constants";
@import "./src/styles/mixins";


.header-shelter {
  padding-top: 24px;
  height: 154px;
  font-size: $bigMediumSize;
  color: $backgroundColor;
  background: $backgroundGradient;

  &__content {
    @include flex(flex-end, center, 12px)
  }

  &__button {
    max-width: 110px;
  }

  &__wrapper {
    position: relative;
  }
}



.links {
  padding-top: 58px;
  display: flex;
  gap: 24px;

  &__item {
    padding: 5px 12px;
    border-radius: 8px 8px 0 0;
    font-size: $subTitleSize;
    font-weight: 800;
    color: $headerColor;

    &.active {
      background: $backgroundColor;
      color: $additionalColor;
    }
  }
}
