@import "./src/styles/constants";
@import "./src/styles/mixins";


.header-shelter {
  padding-top: 24px;
  height: 154px;
  font-size: $bigMediumSize;
  color: $backgroundColor;
  background: $backgroundGradient;

  &__content {
    @include flex(flex-end, center, 12px)
  }

  &__button {
    max-width: 110px;
  }

  &__wrapper {
    position: relative;
  }
}

.shelter-tools {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 8px 16px 28px 23px;
  margin-left: auto;
  background-color: transparent;
  border-radius: 12px;
  z-index: 999;
  transition: background-color 0.4s, box-shadow 0.3s;

  &__header {
    display: flex;
    gap: 25px;
    padding-left: 9px;
    margin-bottom: 21px;
  }

  & .name-market {
    font-weight: 800;
    color: transparent;
    font-size: $subTitleSize;
    padding-top: 5px;
  }

  & .isIndividual-name {
    color: transparent;
    font-size: $mediumLittleSize;
  }

  .shelter-icon {
    margin-left: auto;
    @include square(60px);
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    & > img {
      width: 100%;
      object-fit: contain;

    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: transparent;


    & > .shelter-link {
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: $littleMediumSize;
      cursor: default;
      z-index: -1;

      & > img {
        height: 0;
      }
    }
  }
}

.shelter-tools.active-tools {
  background-color: $backgroundColor;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);

  & .name-market {
    color: $text2Color;
  }

  & .isIndividual-name {
    color: $title3Color;

  }

  & .shelter-tools__buttons {
    color: $text4Color;

    & .shelter-link {
      z-index: auto;
      cursor: pointer;
    }

    & img {
      height: auto;
    }
  }
}

.links {
  padding-top: 58px;
  display: flex;
  gap: 24px;

  &__item {
    padding: 5px 12px;
    border-radius: 8px 8px 0 0;
    font-size: $subTitleSize;
    font-weight: 800;
    color: $headerColor;

    &.active {
      background: $backgroundColor;
      color: $additionalColor;
    }
  }
}
